<h1>Shirt Tracker</h1>
<p>Here are all the shirts:</p>

<% @shirts.each do |shirt| %>
  <h2><%= shirt.name %></h2> - <%= shirt.description %> 
  <div>
    <%= image_tag shirt.image %>
  </div>
  
<% end %>

<!-- # <%= debug @shirts %> -->